body {
  width: 100vw;
  height: 99.7vh;
  position: relative;
  background: url("../img/photos/admin-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.mainpage-preview {
  width: calc( 100% - 6.4rem);
  height: auto;
}

.admin-panel {
  position: fixed;
  width: 34rem;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 25px 0 0 25px;
  z-index: 48;
  text-align: center;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 82% auto;
      grid-template-columns: 82% auto;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "b a";
}

.admin-panel[expanded="true"] .anchors {
  border-radius: 25px 0 0 25px;
}

.admin-panel[expanded="true"] .anchors .control {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.admin-panel[expanded="true"] .anchors .control:hover {
  -webkit-transform: scale(104%) rotateZ(180deg);
          transform: scale(104%) rotateZ(180deg);
}

.admin-panel[expanded="true"] .content {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.admin-panel .anchors {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
  background: linear-gradient(250deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-transition: border-radius 0.4s ease-out;
  transition: border-radius 0.4s ease-out;
  z-index: 49;
}

.admin-panel .anchors .control {
  width: 4rem;
  height: 4rem;
  margin: 1rem auto 0 auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.admin-panel .anchors .control img {
  width: 100%;
  height: 100%;
}

.admin-panel .anchors .control:hover {
  -webkit-transform: scale(104%);
          transform: scale(104%);
}

.admin-panel .anchors .prop {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.admin-panel .anchors .prop h4 {
  cursor: pointer;
  margin-top: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.admin-panel .anchors .prop h4:hover {
  text-decoration: underline;
  -webkit-transform: scale(104%);
          transform: scale(104%);
}

.admin-panel .anchors .help {
  display: -ms-grid;
  display: grid;
}

.admin-panel .anchors .help a {
  margin: auto 0;
}

.admin-panel .anchors .home {
  width: 60%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2rem;
}

.admin-panel .anchors .home img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: pointer;
  pointer-events: all;
}

.admin-panel .anchors .home img:hover {
  -webkit-transform: scale(104%);
          transform: scale(104%);
}

.admin-panel .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: b;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(250deg, #FC466B 0%, #3F5EFB 100%);
  border-radius: 25px 0 0 25px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: start;
      align-content: start;
}

.admin-panel .content #schedule {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.admin-panel .content #schedule .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.6rem;
}

.admin-panel .content #schedule .title img, .admin-panel .content #schedule .title h1 {
  margin: 0 1rem;
}

.admin-panel .content #schedule ul {
  width: 75%;
  height: auto;
  position: relative;
  display: block;
}

.admin-panel .content #schedule ul li {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: #5e5e7a;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 16px;
  padding: 0 0.8rem 1rem 0.8rem;
  margin: 1rem 0;
}

.admin-panel .content #schedule ul li .time {
  width: 100%;
  height: 42px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.admin-panel .content #schedule ul li .time input {
  width: 25%;
  height: 70%;
  border: none;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
}

.admin-panel .content #schedule ul li .time img {
  width: 48px;
  height: 40px;
}

.admin-panel .content #schedule ul li .time img#middle {
  width: 20px;
  height: 20px;
}

.admin-panel .content #pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-panel .content #pricing ul {
  width: 100%;
  height: auto;
  position: relative;
}

.admin-panel .content #pricing ul li {
  width: 90%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-panel .content #pricing ul li img, .admin-panel .content #pricing ul li .price, .admin-panel .content #pricing ul li div {
  margin: auto;
}

.admin-panel .content #pricing ul li input[type="number"] {
  height: 24px;
  width: 42px;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
}

.admin-panel .content #pricing ul li .price {
  background: gray;
  border-radius: 18px;
  padding-right: 1rem;
}

.admin-panel .content #pricing ul li h2 {
  font-family: NunitoSans-Light;
  font-size: 18px;
}

.admin-panel .content #gallery {
  width: 100%;
  height: auto;
  position: relative;
}

.admin-panel .content #gallery .item {
  width: 80%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.admin-panel .content #gallery .item img, .admin-panel .content #gallery .item video {
  width: 100%;
  height: auto;
}

.admin-panel form {
  width: 100%;
  position: relative;
  padding-top: 2rem;
  background-color: rgba(20, 20, 20, 0.2);
}

.admin-panel form img {
  width: 3rem;
  height: 3rem;
}

.admin-panel form .a-title {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.admin-panel form .a-title input {
  width: 74%;
}

.admin-panel form .a-title p {
  margin: 2%;
}

.admin-panel input[type="submit"], .admin-panel button[type="button"] {
  width: auto;
  cursor: pointer;
  background-color: gray;
}

.admin-panel input::-webkit-outer-spin-button, .admin-panel input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.admin-panel input[type=number] {
  -moz-appearance: textfield;
  background: gray;
}

.admin-panel input, .admin-panel button {
  position: relative;
  color: #fff;
  border-style: none;
  background: transparent;
  outline: none;
  margin: 0.5rem;
}

.admin-panel button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0.4rem;
}

.admin-panel button[type="button"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-panel button img {
  width: 28px;
  height: 28px;
}

.admin-panel select {
  height: 20px;
}

.admin-panel .webflow-style-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
}

.admin-panel .webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: -webkit-gradient(linear, left top, right top, from(#B294FF), color-stop(#57E6E6), color-stop(#FEFFB8), color-stop(#57E6E6), color-stop(#B294FF), to(#57E6E6));
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}

.admin-panel .webflow-style-input input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #BFD2FF;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.admin-panel .webflow-style-input::-webkit-input-placeholder {
  color: #7881A1;
}

.admin-panel .webflow-style-input button {
  color: #7881A1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.admin-panel .webflow-style-input:hover {
  color: #BFD2FF;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media screen and (max-width: 1200px) {
  .admin-panel {
    display: none;
  }
}
/*# sourceMappingURL=admin.css.map */