@import url('./main.css');

$input-background: #211630
$input-text-inactive: #7881A1
$input-text-active: #BFD2FF
$text-fontsize: calc( 16px + 0.7vmin )
$text-color: #e5d3d9

body
    position: fixed
    width: 100%
    height: 100%
    top: 0
    right: 0
    display: block
    text-align: center
    font-family: Nunito
    overflow: clip
    z-index: 48
    color: $text-color
    text-decoration-color: $text-color
    h1, h2, h3, h4, h5, h6, p, a, input, select, option
        color: $text-color

    // background: linear-gradient(0deg, rgba(4, 31, 96, 1), rgba(4, 31, 96, 1))
    background-size: cover
    panel
        position: fixed
        display: flex
        width: 100%
        height: 4.25rem
        bottom: 0
        left: 0
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(250deg, #FC466B 0%, #3F5EFB 100%)
        background-size: cover
        transition: border-radius 0.4s ease-out
        z-index: 49
        justify-content: space-evenly
        .home
            height: 100%
            position: relative
            display: flex
            justify-content: center
            align-items: center
            img
                height: 80%
                transition: transform 0.3s ease-out
                cursor: pointer
                pointer-events: all
                &:hover
                    transform: scale(104%)
        .help
            display: grid
            a
                margin: auto 0
    container
        height: 94.5%
        position: relative
        gap: calc(16px + 1vw)
        overflow-x: auto
        overflow-y: auto
        background: rgba(0, 0, 0, 0.2)
        display: flex
        justify-content: space-evenly
        align-items: center
        flex-wrap: wrap
        h1
            font-family: Sansita-ExtraBold
        section
            display: flex
            flex-direction: column
            justify-content: start
            align-items: center
            overflow: clip
            #titlecard-title
                position: relative
                width: 100%
        #activities
            position: relative
            .top
                display: flex
            activities
                position: relative
                width: 100%
                max-height: 30%
                overflow-x: clip
                overflow-y: scroll
                background-color: rgba(20, 20, 20, 0.2)
                margin-bottom: 1rem
                border-radius: 32px
                .item
                    width: 100%
                    position: relative
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    .content
                        cursor: pointer
                        margin: 1rem
                        width: 46%
                        height: auto
                        text-align: center
                        position: relative
                        display: inline-block
                        background-color: #154fad
                        border-radius: 12px
                        overflow: hidden
                        transition: transform 0.3s ease-in-out
                        box-shadow: -1px -1px 19px rgba(121, 153, 160, 0.5)
                        box-sizing: content-box
                        &:hover
                            transform: scale(104%)
                        h1, h2, img
                            pointer-events: none
                        img, video
                            width: 100%
                            height: 12rem
                        h1, h2, h3, h4, p
                            margin: 1rem 0
                    .control
                        width: auto
                        h1
                            margin: 3rem 1rem 1rem 1rem
                        h2
                            margin: 1rem
                            cursor: pointer
                            text-decoration: underline
                            text-decoration-style: dashed
                            &:hover
                                text-decoration: underline
            creator
                position: relative
                width: 100%
        section, form
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(250deg, #FC466B 0%, #3F5EFB 100%)
            background-size: cover
            position: relative
            max-height: calc( 100% - 4.5rem )
            border-radius: 2rem
            img
                width: 4rem
                height: 4rem
        #schedule
            width: 340px
            display: flex
            flex-direction: column
            align-items: center
            margin: 0
            padding-top: 0
            input
                background-color: $input-background
            .title
                position: relative
                display: flex
                width: 92%
                justify-content: space-around
                align-items: center
                padding-top: 0.6rem
                img, h1
                    margin: auto
                    padding: 0
            ul
                width: 95%
                position: relative
                display: block
                li
                    position: relative
                    width: 100%
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    background-color: #5e5e7a
                    border: 1px solid #ccc
                    color: #555
                    border-radius: 16px
                    padding-bottom: 1rem
                    margin: 0.5vw 0
                    .time
                        width: 95%
                        height: 42px
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center
                        color: $text-color
                        input
                            width: 25%
                            height: 70%
                            border: none
                            text-align: center
                            border-radius: 12px
                        img
                            width: 48px
                            height: 40px
                            &#middle
                                width: 20px
                                height: 20px
        #pricing
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding-bottom: 2.5rem
            margin-top: 1.2rem
            h4
                margin: auto 0.8rem
            ul
                width: 100%
                position: relative
                padding: 0 1rem 0 1rem
                li
                    display: flex
                    width: 90%
                    position: relative
                    margin: 0.5rem 0
                    justify-content: space-between
                    input[type="number"]
                        height: 24px
                        width: 42px
                        border-radius: 16px
                        text-align: center
                    &#birthday_small, &#birthday_big
                        .item
                            flex-direction: row
                    .price
                        background: $input-background
                        border-radius: 18px
                        padding-right: 1rem
                        display: flex
                        vertical-align: middle
                        justify-content: center
                        align-items: center
                    h2
                        font-family: NunitoSans-Light
        #activities
            display: flex
            flex-direction: column
            align-items: center
            select
                margin: 1rem 0
            .item
                display: none
                &[active="true"]
                    display: block
                &#default
                    .attachment-container
                        .att-item
                            .top
                                display: flex
                                justify-content: space-around
                                .close
                                    width: 4rem
                                    height: 5rem
                                    position: relative
                                    right: 0.5rem
                                    top: 0.5rem
                                    cursor: pointer
                                    transition: transform 0.4s ease
                                    &:hover
                                        transform: scale(104%)
        #gallery
            width: calc(20em + 1vmin)
            max-height: 95%
            padding-top: 0
            padding-bottom: 1rem
            display: flex
            flex-direction: column
            h1
                padding: 1rem 0
            .content, .file-new-input
                position: relative
                display: inline-block
            .content
                height: 80vh
                overflow-y: auto
                .item
                    width: 80%
                    height: auto
                    position: relative
                    display: block
                    margin: 0.6rem auto
                    border-radius: 12px
                    overflow: clip
                    .close
                        width: 4rem
                        height: 5rem
                        position: absolute
                        right: 0.5rem
                        top: 0.5rem
                        cursor: pointer
                        transition: transform 0.4s ease
                        &:hover
                            transform: scale(104%)
                    img, video
                        width: 100%
                        height: auto
            p
                margin: 2rem 0
            .file-new-input
                height: 20%
                display: inline-block
    form
        width: 100%
        position: relative
        padding-top: 2rem
        background-color: rgba(20, 20, 20, 0.2)
        img
            width: 3rem
            height: 3rem
        .a-title
            width: 100%
            display: inline-flex
            input
                width: 74%
            p
                margin: 2%
    // hide arrow buttons
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    input[type=number]
        -moz-appearance: textfield
    input, button
        cursor: pointer
        width: auto
        position: relative
        color: $text-color
        border-style: none
        background: transparent
        outline: none
        margin: 0.5rem
    button
        padding: 0
        background: none
        border: none
        outline: none
        border-radius: 12px
        padding: 0.4rem
        &[type="button"]
            display: flex
            justify-content: center
            align-items: center
        img
            width: 28px
            height: 28px
    select
        height: 20px

    // https://codepen.io/PRtheRose/pen/BNgEJo
    .webflow-style-input
        position: relative
        display: flex
        flex-direction: row
        width: 100%
        max-width: 400px
        margin: 0 auto
        border-radius: 2px
        padding: 0.5rem 0.5rem 0.5rem 0
        background: $input-background
        &:after
            content: ""
            position: absolute
            left: 0px
            right: 0px
            bottom: 0px
            z-index: 999
            height: 2px
            border-bottom-left-radius: 2px
            border-bottom-right-radius: 2px
            background-position: 0% 0%
            background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6)
            background-size: 500% auto
            animation: gradient 3s linear infinite
        & input
            flex-grow: 1
            color: $input-text-active
            line-height: 2.4rem
            vertical-align: middle
        &::-webkit-input-placeholder
            color: $input-text-inactive
        & button
            color: $input-text-inactive
            line-height: 2.4rem
            vertical-align: middle
            transition: color .25s
        &:hover
            color: $input-text-active
        p
            margin: auto 0
    // custom css select
    select, input[type="date"], button[type="button"]
        width: auto
        height: 35px
        padding: 0.2
    input[type="file"]
        width: 80%
        height: 25px
    input, button, h1, h2, h3, h4, h5, h6, p, a,
    select, input[type="date"], input[type="submit"],
    button[type="button"], input[type="file"], textarea
        font-size: $text-fontsize
    select, input[type="date"], input[type="submit"], button[type="button"], input[type="file"], textarea
        padding: 4px 
        border-radius: 4px 
        box-shadow: 2px 2px 8px #999 
        background-color: $input-background
        color: $text-color
        outline: 2px rgba(255, 255, 255, 0.4) solid
        transition: outline 0.3s ease-out
        border: none 
        display: inline-block 
        -webkit-appearance: none 
        -moz-appearance: none 
        appearance: none 
        cursor: pointer
        &:hover
            outline: 2px rgba(255, 255, 255, 0.8) solid
    label 
        position: relative 
        &:after 
            content: '<>' 
            font: 11px "Consolas", monospace 
            color: #666 
            -webkit-transform: rotate(90deg) 
            -moz-transform: rotate(90deg) 
            transform: rotate(90deg) 
            right: 8px 
            top: 2px 
            padding: 0 0 2px 
            border-bottom: 1px solid #ddd 
            position: absolute 
            pointer-events: none 
        &:before 
            content: '' 
            right: 6px 
            top: 0px 
            width: 20px 
            height: 20px 
            background: #eee 
            position: absolute 
            pointer-events: none 
            display: block 
    select, option
        text-align: center
    textarea
        position: relative
        width: 100%
        height: calc( 50px + 1vmin )
        min-height: calc( 50px + 1vmin )
        max-height: calc( 250px + 1vmin )
        resize: vertical
        font-family: Nunito

@keyframes gradient
    0%
        background-position: 0 0
    100%
        background-position: 100% 0


@media screen and (max-width: 600px)
    body
        form#schedule
            ul li
                margin: 0 0
                padding: 0 0.3rem 0 0.3rem
        section
            margin-bottom: 2.8rem