.footer
    width: 100%
    position: relative
    background: linear-gradient(0deg, rgba(18, 31, 51, 0.3), rgba(18, 31, 51, 0.3)), linear-gradient(173.68deg, #172E67 -2.03%, #6B306C 9.85%, #AB568E 48.71%, #892E65 99.16%)
    .container
        width: 100%
        position: relative
        padding: 2rem 2vw 1vw 2vw
        display: grid
        grid-template-areas: "a b" "c b"
        h1, a, li, img
            transition: transform 0.4s ease-out
            &:hover
                transform: scale(104%)
        .title
            width: 22rem
            position: relative
            left: 50%
            transform: translateX(-50%)
            text-align: center
            &::after
                content: ''
                width: 100%
                height: 2px
                position: absolute
                left: 50%
                bottom: 0
                transform: translateX(-50%)
                background-color: #fff
        .content, .middle
            width: 60vw
            height: auto
            position: relative
            margin: 0 auto
        .content
            grid-area: a
            float: left
            .sponsors
                width: 100%
                height: auto
                display: inline-block
                text-align: center
                img
                    pointer-events: all
                    width: auto
                    height: 7rem
                    margin: 1rem
        .middle
            grid-area: c
            position: relative
            margin: 1.5rem auto
            display: grid
            grid-template-areas: "a b c d"
            .item
                width: auto
                height: 100%
                display: inline-block
                position: relative
                top: 0
                left: 0
                margin: 2rem
                &#logo
                    grid-area: a
                    img
                        width: 5rem
                        height: 5rem
                &#contacts
                    grid-area: b
                    img
                        width: 4rem
                        height: 4rem
                    ul
                        width: 100%
                        height: auto
                        position: relative
                        li
                            width: 100%
                            height: auto
                            display: inline-flex
                            margin: 0.5rem 0
                            cursor: pointer
                            div
                                width: 100%
                            h1
                                pointer-events: none
                                margin: auto auto auto 2rem
                                white-space: nowrap
                                font-size: calc(16px + 0.4vw)
                &#reserve
                    grid-area: c
                    text-align: center
                    cursor: pointer
                    transition: transform 0.4s ease-out
                    img
                        margin-top: 2rem
                    &:hover
                        transform: scale(104%)
                &#notice
                    grid-area: d
                    text-align: center
                    ul
                        height: 100%
                        li
                            margin: auto
                        a
                            font-size: 2rem
                            margin: auto
            img
               width: 100%
        iframe
            grid-area: b
            position: relative
            margin: auto
            box-shadow: -1px -1px 19px rgba(121, 153, 160, 0.5)
            img
                width: 100%
                border-radius: 20px 20px 10px 10px
    .mobile-width
        display: none
    .watermark
        width: 100%
        height: 9rem
        position: relative
        display: flex
        justify-content: center
        font-family: NunitoSans
        background-color: #892E65
        padding: 2.5rem 0
        &::before, &::after
            content: ''
            position: absolute
            width: 100%
            height: 5px
            border-radius: 5px
            background-color: #fff
            left: 0
            opacity: 20%
        &::before
            top: 0
        &::after
            bottom: 0
        h1
            font-size: 26px
        .item
            max-width: 650px
            height: auto
            position: absolute
            display: inline-flex
            margin: 0 auto
            cursor: pointer
            &:hover
                & > img
                    animation: ikaLogoAnim 1.7s ease-in-out infinite
                & > a
                    text-decoration: underline
                    text-decoration-color: #fff
            img
                height: 5rem
                width: 5rem
                left: 723px
                top: 33px
            a
                color: #fff
                width: fit-content
                margin: auto
                margin-left: 2rem
                font-size: calc(16px + 0.5vw)
                white-space: nowrap
                text-decoration: none
                &:hover
                    text-decoration: underline

@keyframes ikaLogoAnim
    0%
        transform: rotate(0)
    100%
        transform: rotate(-360deg)

@media screen and (max-width: 1200px)
    .footer
        .container
            grid-template-areas: "a" "c" "b"
            justify-items: center
            .content, .middle
                width: 100vw

@media screen and (max-width: 1000px)
    .footer
        .container
            .middle
                grid-template-areas: "a b d" "c c c"
        .watermark .item img
            width: 4rem
            height: 4rem

@media screen and (max-width: 600px)
    .footer
        .container
            .middle
                grid-template-areas: "a" "b" "d" "c"
                justify-items: center
                .item
                    width: 90%
                    margin: 2rem 0
            .full-width
                display: none
            .mobile-width
                display: block
        .watermark .item
            margin: 0 2rem
            a
                margin-left: 1rem
                white-space: normal
                text-align: center