@import url("./main.css");
root {
  --barrel-width: 100%;
  --barrel-height: 100%;
  --fullwidth-height: 1000px;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #592255;
  text-align: center;
}

.header h1 {
  cursor: default;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.titlecard {
  width: 100%;
  height: auto;
  position: relative;
}

.titlecard .monitor {
  width: 100%;
  min-height: 400px;
  height: 47vw;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.titlecard .monitor .titlecard-title {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 0px 4px 6px rgba(50, 50, 50, 0.5);
  z-index: 5;
}

.titlecard .monitor .titlecard-title h1 {
  position: relative;
  width: 100%;
  font-size: calc(18px + 2.6vw);
  font-family: Sansita-Black;
}

.titlecard .monitor .titlecard-title h2 {
  position: relative;
  width: 75%;
  margin: 0 auto;
  font-size: calc(15px + 2.6vw);
  font-family: Sansita-BlackItalic;
}

.titlecard .monitor .container {
  width: 100%;
  min-height: 400px;
  height: 100%;
  position: relative;
}

.titlecard .monitor .container .item {
  width: 100%;
  min-height: 400px;
  height: 58vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.42s ease-in-out, transform 0.3s ease-out;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover cover;
}

.titlecard .monitor .container .item[slide="true"] {
  opacity: 1;
}

.titlecard .monitor .container .item * {
  z-index: 1;
}

.titlecard .monitor .container .item h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
}

.titlecard .monitor .container .item img {
  position: absolute;
  top: 0;
  left: 0;
}

.titlecard .monitor .container .item img, .titlecard .monitor .container .item iframe {
  width: 100%;
  height: 100%;
}

.titlecard .monitor .events {
  position: absolute;
  right: 8%;
  top: 44%;
  width: 370px;
  height: auto;
  font-family: RedHatDisplay-Regular;
}

.titlecard .monitor .events::before, .titlecard .monitor .events::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.titlecard .monitor .events::before {
  top: 0;
}

.titlecard .monitor .events::after {
  bottom: 0;
}

.titlecard .monitor .events .item {
  cursor: pointer;
}

.titlecard .monitor .events .item h3, .titlecard .monitor .events .item h4, .titlecard .monitor .events .item img {
  pointer-events: none;
}

.titlecard .monitor .events .item h3 {
  font-size: 36px;
  margin-left: 0.2em;
  margin-top: 0.5em;
  margin-right: 0.1em;
}

.titlecard .monitor .events .item h4 {
  font-size: 22px;
  opacity: 80%;
  margin-left: 0.6em;
  margin-bottom: 0.5em;
}

.titlecard .monitor .categories {
  width: 60%;
  height: 42%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 8;
}

.titlecard .monitor .categories::after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/curved-line.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.titlecard .monitor .categories #cloud9-carousel {
  width: 100%;
  height: 500px;
  position: relative;
  bottom: 0;
}

.titlecard .monitor .categories #cloud9-carousel .cloud9-item {
  width: 12vw;
  height: 12vw;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  opacity: 0.47;
  transition: opacity 0.5s ease-out;
}

.titlecard .monitor .categories #cloud9-carousel .cloud9-item img {
  width: 80%;
  height: 80%;
  transition: all 0.5s ease-in-out;
  transition-property: width height;
}

.titlecard .monitor .categories #cloud9-carousel .cloud9-item.front {
  opacity: 1;
  cursor: pointer;
}

.titlecard .monitor .categories #cloud9-carousel .cloud9-item.front:hover > img {
  width: 95%;
  height: 95%;
}

.titlecard .monitor .categories #cloud9-carousel .cloud9-item.front img {
  width: 90%;
  height: 90%;
}

.titlecard .monitor .control {
  position: absolute;
  bottom: 10%;
  display: block;
  width: 4rem;
  height: 4rem;
  background: none;
  border: none;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 6;
  transition: transform 0.4s ease-in-out;
}

.titlecard .monitor .control.prev {
  left: 14%;
}

.titlecard .monitor .control.prev:hover {
  transform: translateX(-15%);
}

.titlecard .monitor .control.next {
  right: 14%;
}

.titlecard .monitor .control.next:hover {
  transform: translateX(15%);
}

.titlecard .monitor .control img {
  width: 100%;
  height: 100%;
}

.titlecard .slider {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.titlecard .slider ul {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #458;
}

.titlecard .slider ul li {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover cover;
  color: #333;
}

.titlecard .slider ul li[x="0"] {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(92.51deg, #782566 12.02%, #763281 23.79%, #4966B0 67.75%, #7B59A9 77.55%, #8E3F86 87.36%);
}

.titlecard .slider ul li[x="1"] {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.025) 50.52%, rgba(0, 0, 0, 0) 100%), linear-gradient(92.51deg, #8E3F86 12.02%, #907941 38.31%, #8F5B64 48.9%, #907941 64.99%, #8F5B64 71.66%, #253D78 87.36%);
}

.titlecard .slider ul li[x="2"] {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(91.3deg, #253D78 10.39%, #427256 31.58%, #547E60 60.81%, #3E735D 81.4%, #243C78 99.6%);
}

.titlecard .slider ul li[x="3"] {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(88.15deg, #253D78 7.99%, #7A7CA1 36.08%, #7A8CA1 67.86%, #934BAC 93.14%);
}

.titlecard .slider ul li[x="4"] {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(89.54deg, #934BAC 6.55%, #563494 34.59%, #563494 79.02%, #934BAC 96.32%);
}

.titlecard .slider ul li[x="5"] {
  background: linear-gradient(92.51deg, #7D4092 12.02%, #C54A58 67.75%, #661F56 87.36%);
}

.titlecard .slider ul li p {
  font-size: 36px;
  margin: 1rem 12% 3rem 12%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.titlecard .slider ul li iframe {
  pointer-events: none;
}

.titlecard .slider .button {
  position: relative;
  width: 245px;
  height: 60px;
  left: 50%;
  margin: auto 0;
  transform: translate(-50%);
  bottom: 20%;
  background: #CF4040;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  transition: all .3s;
  overflow: hidden;
  /* optional reset for presentation */
}

.titlecard .slider .button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.titlecard .slider .button:hover > img {
  transition: transform 0.2s ease-out;
  transform: translate(30%, -50%);
}

.titlecard .slider .button:hover:before {
  widh: 100%;
}

.titlecard .slider .button:active > img {
  transition: transform 0.06s ease-out;
  transform: scale(95%) translate(50%, -50%);
}

.titlecard .slider .button h2, .titlecard .slider .button img {
  pointer-events: none;
  position: absolute;
}

.titlecard .slider .button h2 {
  width: 142px;
  height: 42px;
  left: 30px;
  top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.titlecard .slider .button img {
  width: 43px;
  height: 43px;
  left: 182px;
  top: 50%;
  transform: translateY(-50%);
}

.titlecard .slider .button::before, .titlecard .slider .button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titlecard .slider .button::after {
  background-color: #CF4040;
  border-radius: 10rem;
  z-index: -2;
}

.titlecard .slider .button::before {
  background-color: #008fb3;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.titlecard .slider .button .container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.titlecard .slider .button h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}

.titlecard .slider .button span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
}

.titlecard .slider .button a {
  font-size: .7rem;
  color: #999;
  text-decoration: underline;
}

.barrel {
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  font-family: Sansita;
  transition: all 1.4s ease-in-out;
  transition-property: margin-bottom;
}

.barrel .title {
  background: linear-gradient(92.51deg, #782566 12.02%, #763281 23.79%, #4966B0 67.75%, #7B59A9 77.55%, #8E3F86 87.36%);
  text-shadow: 0px 4px 6px rgba(50, 50, 50, 0.5);
  transition: transform 0.5s ease-in-out;
}

.barrel .title:hover {
  transform: scale(104%);
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.barrel[ika-responsive="pc"] {
  width: 100%;
}

.barrel[ika-responsive="pc"] .item-container {
  position: relative;
  display: grid;
}

.barrel[ika-responsive="pc"] [open="true"] {
  width: 100%;
  height: 100%;
}

.barrel[ika-responsive="pc"] [open="true"] .body {
  display: block;
}

.barrel[ika-responsive="pc"] [open="false"] .body {
  display: none;
}

.barrel[ika-responsive="pc"] [x="1"][open="true"] .head {
  animation: x1Open 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="1"][open="false"] .head {
  animation: x1Close 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="1"][open="false"] .head:hover {
  transform: scale(104%);
  z-index: 30;
}

.barrel[ika-responsive="pc"] [x="1"] .head {
  left: 0;
}

.barrel[ika-responsive="pc"] [x="2"][open="true"] .head {
  animation: x2Open 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="2"][open="false"] .head {
  animation: x2Close 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="2"][open="false"] .head:hover {
  transform: translateX(-50%) scale(104%);
  z-index: 30;
}

.barrel[ika-responsive="pc"] [x="2"] .head {
  left: 50%;
  transform: translateX(-50%);
}

.barrel[ika-responsive="pc"] [x="3"][open="true"] .head {
  animation: x3Open 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="3"][open="false"] .head {
  animation: x3Close 0.6s ease-out forwards;
}

.barrel[ika-responsive="pc"] [x="3"][open="false"] .head:hover {
  transform: scale(104%);
  z-index: 30;
}

.barrel[ika-responsive="pc"] [x="3"] .head {
  right: 0;
}

.barrel[ika-responsive="pc"] [y="1"] .head {
  top: 0;
}

.barrel[ika-responsive="pc"] [y="2"] .head {
  bottom: 0;
}

.barrel[ika-responsive="pc"] .item-container {
  height: 44vw;
  transition: all 0.6s ease-in-out;
  transition-property: margin-top margin-bottom;
}

.barrel[ika-responsive="pc"] .item-container .item {
  position: absolute;
  transition: all 0.62s ease-out;
  transition-property: width height;
}

.barrel[ika-responsive="pc"] .item-container .item[open="true"] {
  width: 100%;
  height: 100%;
}

.barrel[ika-responsive="pc"] .item-container .item[open="true"] .head {
  width: 100%;
}

.barrel[ika-responsive="pc"] .item-container .item[open="false"] {
  width: var(--barrel-width);
  height: var(--barrel-height);
}

.barrel[ika-responsive="pc"] .item-container .item[open="false"] .head {
  width: 125%;
}

.barrel[ika-responsive="pc"] .item-container .item[x="1"] .cap::after, .barrel[ika-responsive="pc"] .item-container .item[x="2"] .cap::after {
  border-radius: 20px 0 0 20px;
  right: -1%;
}

.barrel[ika-responsive="pc"] .item-container .item[x="3"] .cap::before {
  border-radius: 0 20px 20px 0;
  left: -1%;
}

.barrel[ika-responsive="pc"] .item-container .item .head {
  width: 125%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-out;
}

.barrel[ika-responsive="pc"] .item-container .item .body {
  display: none;
}

.barrel[ika-responsive="pc"] .fullwidth-container {
  width: 100%;
  height: var(--fullwidth-height);
  display: block;
  transition: all 0.9s ease-in-out;
  transition-property: margin-top;
}

.barrel[ika-responsive="pc"] .fullwidth-container .item {
  position: absolute;
  bottom: 0;
}

.barrel[ika-responsive="mobile"] {
  width: 98%;
}

.barrel[ika-responsive="mobile"] [open="true"] .body {
  display: inline-table;
  animation: bodyOpenMobile 0.6s ease-in-out forwards;
}

.barrel[ika-responsive="mobile"] [open="false"] .body {
  display: none;
  animation: none;
}

.barrel[ika-responsive="mobile"] .item-container {
  height: auto;
  position: relative;
  transition: all 0.6s ease-in-out;
  transition-property: margin-top margin-bottom;
}

.barrel[ika-responsive="mobile"] .item-container .item {
  position: relative;
  -webkit-clip-path: none;
          clip-path: none;
  width: 100%;
  transition: all 0.5s ease-in-out;
  transition-property: margin-top margin-bottom;
}

.barrel[ika-responsive="mobile"] .item-container .item[open="true"] {
  margin-bottom: var(--fullwidth-height);
}

.barrel[ika-responsive="mobile"] .item-container .item .head {
  width: 100%;
  position: relative;
}

.barrel[ika-responsive="mobile"] .item-container .item .body {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
}

.barrel[ika-responsive="mobile"] .fullwidth-container {
  display: none;
}

.barrel .title {
  text-align: center;
  font-size: 2vw;
  z-index: 0;
}

.barrel .title h1 {
  cursor: default;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.barrel .item-container {
  cursor: pointer;
  width: 100%;
  position: relative;
}

.barrel .item-container .item .head {
  position: relative;
  transition: all 0.65s ease-out, outline 0.3s ease-in-out;
  transition-property: width, height, outline, -webkit-clip-path;
  transition-property: width, height, outline, clip-path;
  transition-property: width, height, outline, clip-path, -webkit-clip-path;
  pointer-events: visible;
  z-index: 10;
  overflow: clip;
  outline-offset: -5px;
}

.barrel .item-container .item .head:hover {
  outline: 5px solid #fff;
}

.barrel .item-container .item .head .cap {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.barrel .item-container .item .head .cap * {
  pointer-events: none;
}

.barrel .item-container .item .head .cap::before, .barrel .item-container .item .head .cap::after {
  body: '';
  width: 40%;
  height: 1.8%;
  position: absolute;
  bottom: 0;
  background-color: #3979F3;
  border-radius: 20px;
  outline: #fff 2px solid;
}

.barrel .item-container .item .head .cap::before {
  left: 1%;
}

.barrel .item-container .item .head .cap::after {
  right: 1%;
}

.barrel .item-container .item .head .cap:hover > h1 {
  font-size: 3.5vw;
}

.barrel .item-container .item .head .cap:hover > .button {
  width: 2.75rem;
  height: 2.75rem;
}

.barrel .item-container .item .head .cap h1 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 2.6vw;
  transform: translateX(-50%);
  transition: font-size 0.4s ease-out;
  white-space: nowrap;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barrel .item-container .item .head .cap .button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.3s ease-out;
  transition-property: width height;
}

.barrel .item-container .item .head .cap .button img {
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease-out;
  transform: rotateZ(0);
}

.barrel .item-container .item .head img {
  width: 100%;
  height: 100%;
}

.barrel .item-container .item[open="true"] .cap .button img {
  transform: rotateZ(180deg);
}

.barrel .container {
  width: 100%;
  height: auto;
  display: grid;
}

.barrel .body {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 0.1vw;
}

.barrel .body h1 {
  font-family: Sansita-ExtraBold;
  font-size: 48px;
}

.barrel .body p {
  font-family: NunitoSans;
  font-size: 36px;
}

.barrel .body .title {
  background: rgba(100, 39, 97, 0.5);
  border: 6px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 121px;
  text-align: center;
  margin: 1rem 12vw 1rem 12vw;
}

.barrel .body .title h1 {
  padding: 1vw;
  font-family: Sansita;
  font-size: 1.7vw;
}

.barrel .body .title.image-left {
  display: grid;
  grid-template-columns: 8vw auto;
  grid-template-rows: 8vw;
}

.barrel .body .title.image-left .image {
  padding: 1.5vw;
  background: #698AA9;
  border: 8px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 116px;
  position: relative;
  transform: scale(118%);
}

.barrel .body .title.image-left .image img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.barrel .body .title.image-left h2 {
  padding: 1.5vw;
  font-family: NunitoSans;
  font-size: 1.3vw;
}

.barrel .body .title.image-left.size2 {
  margin: 1rem 35vw 1rem 14vw;
}

.barrel .body .title.image-left.size2 h2 {
  padding: 1.5vw;
}

.barrel .body .title.image-left.size2 .image {
  padding: 1.15vw;
  border: 6px solid #FFFFFF;
  border-radius: 116px;
  transform: scale(112%);
}

.barrel .body#hohtokeilaus {
  background-image: url("../img/neon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.barrel .body#hohtokeilaus p {
  width: 80%;
  text-align: center;
}

.barrel .body#synttarit {
  background: linear-gradient(90.3deg, rgba(133, 63, 121, 0) 0.45%, rgba(123, 51, 111, 0.5) 10.81%, rgba(141, 67, 129, 0.5) 49.15%, rgba(131, 56, 118, 0.5) 86.98%, rgba(120, 53, 109, 0) 99.93%), #60205B;
}

.barrel .body#synttarit .behemoth {
  width: 90%;
  height: 18vw;
  position: relative;
  display: grid;
  grid-template-areas: "a1 b1 c1";
  grid-template-columns: 14% 33% 48%;
  grid-template-rows: 100%;
  padding: 1vw 0;
}

.barrel .body#synttarit .behemoth::before {
  grid-area: a1;
  content: '';
  background: linear-gradient(90deg, #5A1D50 0.52%, #5B1F54 20.31%, #733072 100%);
}

.barrel .body#synttarit .behemoth .b1 {
  grid-area: b1;
  border-radius: 10px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(104%);
  z-index: 1;
}

.barrel .body#synttarit .behemoth .b1 img {
  width: 100%;
  height: 100%;
}

.barrel .body#synttarit .behemoth .c1 {
  grid-area: c1;
  background: linear-gradient(159.22deg, #2A3B7A 8.12%, rgba(95, 111, 171, 0.354167) 53.09%, rgba(26, 32, 54, 0) 87.34%);
  border: 5px solid rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 30px 0px 0px;
  display: grid;
  grid-template-areas: "a2 a2" "b2 b2";
  grid-template-columns: 83.33% 16.66%;
  grid-template-rows: 22% auto;
  z-index: 0;
}

.barrel .body#synttarit .behemoth .c1 h3 {
  grid-area: a2;
  margin: 1.5vw 0.8vw 0 1.25vw;
  font-size: 1.5vw;
  font-family: NunitoSans;
  text-align: left;
}

.barrel .body#synttarit .behemoth .c1 p {
  grid-area: b2;
  margin: 1vw 1.25vw;
  font-size: 1.3vw;
  text-align: left;
}

.barrel .body#synttarit .behemoth .static-image {
  width: 10vw;
  height: auto;
  position: absolute;
  right: 1.6vw;
  bottom: -8.75vw;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-filter: drop-shadow(2px 5px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(2px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 36px;
  overflow: clip;
}

.barrel .body#synttarit .behemoth .static-image img {
  width: 100%;
  height: 100%;
}

.barrel .body#synttarit .pan {
  position: relative;
  width: 100%;
}

.barrel .body#synttarit .pan .mat {
  position: relative;
  width: 100%;
  background-image: url("../img/abstract.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.barrel .body#synttarit .pan .mat .item {
  position: relative;
  width: 32vw;
  height: 80%;
  top: 0;
  margin: 2vw;
  padding: 0.3vw;
  background-color: #43547E;
  border: 6px dashed rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 60p;
  text-align: center;
}

.barrel .body#synttarit .pan .mat .item h1 {
  font-family: NunitoSans;
  font-size: 64px;
}

.barrel .body#synttarit .pan .mat .item h2 {
  font-family: NunitoSans;
  font-size: 58px;
  font-weight: 300;
}

.barrel .body#synttarit .pan .mat .item h3 {
  font-size: 90px;
  font-weight: bold;
}

.barrel .body#synttarit .pan .mat .item h4 {
  font-size: 36px;
  font-weight: 300;
}

.barrel .body#baari {
  background-color: black;
}

.barrel .body#sauna {
  background: linear-gradient(90deg, #394185 0%, #272B4B 16.67%, #1F202D 51.04%, #22285E 90.37%, #394185 100%);
  justify-items: center;
  text-align: center;
}

.barrel .body#sauna .prop {
  position: relative;
  width: auto;
  margin: 1vw;
  text-align: center;
  display: grid;
  grid-template-areas: "a4 b4";
  border-radius: 10px;
  box-sizing: border-box;
}

.barrel .body#sauna .prop::before, .barrel .body#sauna .prop::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.2vw;
  background-color: #ccc;
  border-radius: 10px;
  opacity: 0.1;
}

.barrel .body#sauna .prop::before {
  top: 0;
}

.barrel .body#sauna .prop::after {
  bottom: 0;
}

.barrel .body#sauna .prop:nth-child(1) {
  grid-area: a4;
}

.barrel .body#sauna .prop:nth-child(2) {
  grid-area: b4;
}

.barrel .body#sauna .prop#a {
  background: linear-gradient(259.79deg, rgba(107, 98, 98, 0) 0%, rgba(32, 28, 28, 0.49) 56.92%, rgba(12, 12, 12, 0.64) 100.27%), url("../img/photos/snooker.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.barrel .body#sauna .prop#a img {
  -webkit-filter: drop-shadow(3px 8px 0px #B8ABAB);
          filter: drop-shadow(3px 8px 0px #B8ABAB);
}

.barrel .body#sauna .prop#b {
  background: linear-gradient(259.79deg, rgba(46, 43, 43, 0.43) 0%, rgba(32, 28, 28, 0.48) 71.02%, rgba(12, 12, 12, 0.64) 100.27%), url("../img/photos/air-hockey.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.barrel .body#sauna .prop#b img {
  -webkit-filter: drop-shadow(3px 8px 0px #B8ABAB);
          filter: drop-shadow(3px 8px 0px #B8ABAB);
}

.barrel .body#kilpakeilaus {
  background-color: #0D1137;
}

.barrel .body#kilpakeilaus .title {
  position: relative;
}

.barrel .body#kilpakeilaus .title h2 {
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.barrel .body#kilpakeilaus .container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.barrel .body#kilpakeilaus .container#a {
  background: linear-gradient(91.35deg, rgba(118, 132, 146, 0.441) 0.85%, rgba(35, 68, 79, 0.639) 100.32%);
}

.barrel .body#kilpakeilaus .container#b {
  background: rgba(14, 10, 27, 0.75);
}

.barrel .body#kilpakeilaus .container .content {
  position: relative;
  width: 100%;
  padding: 1.3vw;
  justify-content: center;
  align-content: center;
  gap: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.barrel .body#proshop {
  background-color: #0D1137;
}

.barrel .body#proshop .items {
  position: relative;
  width: 1000px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-areas: "a1 b1 b1" "a1 c1 d1";
  grid-template-columns: 15% 66% 19%;
  grid-template-rows: 30% 70%;
}

.barrel .body#proshop .items p {
  width: 100%;
}

.barrel .body#proshop .items .a1 {
  grid-area: a1;
  top-margin: 1.5rem;
  right-margin: 2vw;
  width: 80%;
}

.barrel .body#proshop .items .b1 {
  grid-area: b1;
  font-size: 28px;
  white-space: no-wrap;
  text-align: center;
  position: relative;
}

.barrel .body#proshop .items .b1 p {
  width: 80%;
}

.barrel .body#proshop .items .c1 {
  grid-area: c1;
  font-size: 48px;
  text-align: center;
  margin: 0.5rem;
}

.barrel .body#proshop .items .d1 {
  grid-area: d1;
  height: 65%;
  margin: 0.5rem;
}

.barrel .three-layout {
  position: relative;
  width: 90%;
  background: #62255B;
  border: 5px solid rgba(254, 254, 254, 0.5);
  border-radius: 60px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 2rem 0;
  padding: 1rem;
}

.barrel .three-layout p {
  margin: 0 auto;
}

.barrel .three-layout img {
  width: 28%;
  height: 20%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 40px;
}

.contact-barrel {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw 0;
  background: linear-gradient(90deg, #394185 0%, #222751 15.63%, #1B2044 48.81%, #222751 81.53%, #394185 100%);
}

.contact-barrel::before, .contact-barrel::after {
  left: 50%;
  transform: translateX(-50%);
  height: 0.15rem;
  background-color: #ccc;
  border-radius: 10px;
  opacity: 0.5;
}

.contact-barrel::before {
  top: 5%;
  width: 40rem;
}

.contact-barrel::after {
  bottom: 5%;
  width: 35rem;
}

.contact-barrel h2 {
  position: relative;
  margin: 0.5vw 0 0.8vw 0;
  font-family: NunitoSans;
  font-size: 28px;
  font-weight: 300;
}

.contact-barrel .sta {
  position: relative;
  width: 20rem;
  height: auto;
  display: flex;
  margin-top: 0.5rem;
}

.contact-barrel .sta img {
  width: 3.5rem;
  height: 3.5rem;
}

.contact-barrel .sta h2 {
  margin-left: 1.2rem;
  font-size: 28px;
}

@keyframes x1Open {
  0% {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes x1Close {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  }
}

@keyframes x2Open {
  0% {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
            clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes x2Close {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
            clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  }
}

@keyframes x3Open {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes x3Close {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }
}

@keyframes bodyOpenMobile {
  0% {
    transform: translateX(-50%) translateY(-50%);
    margin-top: 0px;
  }
  50% {
    transform: translateX(-50%) translateY(3%);
    margin-top: 5%;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    margin-top: 0px;
  }
}

@keyframes bodyCloseMobile {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.about-container {
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  background-image: url("../img/photos/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  background: linear-gradient(194.5deg, rgba(106, 99, 32, 0.3) 74.49%, rgba(0, 0, 0, 0) 89.73%), linear-gradient(85.67deg, rgba(0, 0, 0, 0.144) 0.41%, rgba(0, 0, 0, 0) 72.33%), linear-gradient(80.32deg, #1F3B80 7.28%, #942F96 48.04%, #5168A0 67.97%);
  opacity: 0.4;
}

.about-container .item {
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
}

.about-container .item h1, .about-container .item h2, .about-container .item p {
  text-shadow: 0px 4px 6px rgba(50, 50, 50, 0.3);
}

.about-container .item h1, .about-container .item h2 {
  text-decoration: underline;
}

.about-container .item h1 {
  font-size: calc(22px + 1.4vw);
  font-family: Sansita-ExtraBold-Italic;
}

.about-container .item h2 {
  font-size: calc(18px + 1.3vw);
  font-family: Sansita-ExtraBold;
}

.about-container .item p {
  font-size: calc(20px + 1.2vw);
}

.about-container .item#mk {
  width: 100%;
  height: 8.5vw;
  display: grid;
  justify-items: center;
}

.about-container .item#mk #l {
  width: 90%;
  height: 100%;
  margin: 0.8vw;
  opacity: 0.85;
}

.about-container .item#mk #a, .about-container .item#mk #b {
  position: absolute;
  opacity: 0.22;
}

.about-container .item#mk #a {
  right: 11%;
  top: -8%;
  width: 6.5%;
  transform: rotateZ(7deg);
}

.about-container .item#mk #b {
  right: 17%;
  top: 28%;
  width: 8.5%;
  transform: rotateZ(-3deg);
}

.about-container .content {
  margin: 0 8vw;
}

.about-container .content .split {
  display: flex;
  margin-top: 2vw;
}

.about-container .content .item#a {
  width: 55%;
  margin-right: auto;
}

.about-container .content .item#schedule {
  position: relative;
  width: 94vw;
  max-width: 700px;
  height: 540px;
  background: linear-gradient(268.88deg, rgba(34, 59, 118, 0.8) -3.77%, rgba(43, 62, 111, 0.512) 14.48%, rgba(12, 18, 35, 0.296) 102.78%), rgba(45, 62, 106, 0.7);
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 39px;
  font-family: NunitoSans;
  font-size: 35px;
}

.about-container .content .item#schedule .d1, .about-container .content .item#schedule .d2 {
  position: absolute;
  background: #FFFFFF;
  border-radius: 5px;
}

.about-container .content .item#schedule .d1 {
  width: 394px;
  height: 5px;
  left: 55px;
  top: 107px;
}

.about-container .content .item#schedule .d2 {
  width: 4px;
  height: 270px;
  left: 55px;
  top: 107px;
}

.about-container .content .item#schedule img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 60px;
  top: 40px;
}

.about-container .content .item#schedule h1 {
  position: absolute;
  width: auto;
  height: 48px;
  left: 140px;
  top: 35px;
  font-family: NunitoSans;
  font-size: 35px;
  line-height: 48px;
}

.about-container .content .item#schedule .days {
  pointer-events: none;
  position: absolute;
  width: 54px;
  height: 250px;
  left: 85px;
  top: 127px;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  list-style: none;
}

.about-container .content .item#schedule .days .mobile {
  display: none;
}

.about-container .content .item#schedule ul {
  position: absolute;
  width: auto;
  height: 250px;
  left: 154px;
  top: 127px;
  font-size: 26px;
}

.about-container .content .item#schedule .note {
  position: absolute;
  width: 432px;
  height: 72px;
  left: 55px;
  top: 415px;
  font-size: 26px;
  color: #FFFFFF;
}

.about-container .content .item#b, .about-container .content .item#c {
  margin-top: 1.2vw;
}

.about-container .content .item#b {
  width: 55%;
  margin-left: auto;
  text-align: right;
}

.about-container .content .item#c {
  width: 65%;
  margin-right: auto;
}

.about-container .content .item#d {
  width: 76%;
  margin-left: auto;
  text-align: right;
  margin-bottom: 1.8vw;
}

.about-container .content .item#d a {
  color: #BFCBF9;
}

.about-container .content .item p {
  margin: 0.8vw;
}

.stats {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: clip;
  z-index: 3;
}

.stats::before {
  content: '';
  width: 100%;
  height: 142%;
  position: absolute;
  left: 0;
  top: -14%;
  background: linear-gradient(123.03deg, rgba(0, 0, 0, 0.2) 24.49%, rgba(0, 0, 0, 0.153125) 41.94%, rgba(0, 0, 0, 0) 71%), linear-gradient(91.03deg, #396AB4 0.3%, #8C7EC4 23.84%, #7E67DA 55.58%, #8073D0 80.15%, #396AB4 98.58%);
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  transform: translateY(-5%);
  z-index: 1;
}

.stats .content {
  width: calc( 40rem + 50vw);
  font-family: NunitoSans;
  transform: rotateZ(2deg);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.stats .content::before {
  top: -10%;
}

.stats .content::after {
  bottom: -10%;
}

.stats .content * {
  transition: transform 0.3s ease-out;
}

.stats .content *:hover {
  transform: scale(105%);
}

.stats .content .satisfied, .stats .content .reviews, .stats .content .amount {
  display: inline-block;
  position: relative;
  transform: rotateZ(-2deg);
}

.stats .content img {
  width: 2.25rem;
  height: 2.25rem;
}

.stats .content .satisfied, .stats .content .amount {
  width: calc( 14rem + 4vw);
  height: calc( 14rem + 4vw);
  padding: 2rem 3rem;
  margin: 2rem;
  text-align: center;
  border-radius: 50%;
  position: relative;
  background: rgba(61, 85, 180, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  transition: transform 0.3s ease-out;
}

.stats .content .satisfied:hover, .stats .content .amount:hover {
  transform: scale(105%) rotateZ(-2deg);
}

.stats .content .satisfied img, .stats .content .amount img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.stats .content .reviews {
  width: 32vw;
  display: grid;
  grid-template-areas: "a3 a3" "b3 c3" "e3 e3" "f3 f3";
  padding: 0 2rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.stats .content .reviews h1.title {
  font-size: calc( 14px + 1.4vw);
  grid-area: a3;
  font-family: Sansita-ExtraBold;
}

.stats .content .reviews h1.rating {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.stats .content .reviews .rating {
  grid-area: b3;
  font-size: 64px;
}

.stats .content .reviews .stars {
  grid-area: c3;
  margin: 0.5rem;
  display: grid;
  align-items: center;
  text-align: left;
}

.stats .content .reviews .stars div {
  width: 220px;
}

.stats .content .reviews .stars img {
  -webkit-filter: sepia(80%) hue-rotate(80deg);
          filter: sepia(80%) hue-rotate(80deg);
}

.stats .content .reviews h2 {
  grid-area: e3;
  font-size: 26px;
  margin: 1.5rem 0 0.5rem 0;
}

.stats .content .reviews h3 {
  grid-area: f3;
  font-size: 22px;
  margin: 0.5rem;
}

.stats .content .amount {
  grid-area: c2;
}

@media screen and (max-width: 880px) {
  .toggle-gallery {
    display: none;
  }
  .stats::before {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .stats .content {
    display: inline;
  }
  .stats .content .satisfied, .stats .content .reviews, .stats .content .amount {
    left: 46%;
    transform: translateX(-50%) rotateZ(0);
    padding: 0;
  }
  .stats .content .satisfied:hover, .stats .content .reviews:hover, .stats .content .amount:hover {
    transform: translateX(-50%) scale(105%) rotateZ(0);
  }
  .stats .content .satisfied, .stats .content .amount {
    width: 150px;
    height: 150px;
  }
  .stats .content .reviews {
    width: auto;
    height: auto;
    margin: 0 1rem;
    text-align: center;
  }
}

.map {
  width: 100%;
  height: auto;
  left: 0;
  position: relative;
  z-index: 0;
}

.map .top, .map .bottom {
  background-color: #1a2432;
}

.map .top {
  width: 100%;
  height: 110px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

.map .top img {
  width: 48px;
  height: 48px;
  margin: 1rem;
}

.map .top h1 {
  margin: 2rem;
  font-size: calc(18px + 0.6vw);
}

.map .middle {
  width: 100%;
  height: 24vw;
  position: relative;
  background-color: black;
  overflow: clip;
}

.map .middle .item {
  width: 100%;
  height: 100%;
}

.map .middle .item#default {
  display: block;
}

.map .middle .item#mobile-portrait {
  display: none;
}

.map .middle .item#gmap {
  width: 100%;
  height: 24vw;
  position: relative;
}

.map .middle .item#gmap img {
  width: 100%;
  height: 100%;
}

.map .bottom {
  width: 100%;
  height: 70px;
  position: relative;
}

.map .bottom .link {
  left: 14vw;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc( 70px * 0.7);
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
}

.map .bottom .link a {
  margin: auto 0 auto 1rem;
  font-size: calc(12px + 0.6vw);
  font-weight: normal;
}

.map .bottom .link img {
  height: 100%;
}

.map .bottom .controls {
  height: calc( 70px * 0.8);
  position: absolute;
  right: 10vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.map .bottom .controls .item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  top: 0;
  padding: 0 2rem;
}

.map .bottom .controls .item img {
  border-radius: 15%;
  height: 100%;
}

.map .bottom .controls .item h1 {
  margin: auto 0 auto 1rem;
  pointer-events: none;
  font-size: calc(12px + 0.7vw);
  font-weight: normal;
}

@media screen and (max-width: 1100px) {
  .map .bottom .link {
    left: 0;
  }
  .map .bottom .controls {
    right: 0;
  }
}

@media screen and (max-width: 680px) {
  .map .top {
    padding: 0;
  }
  .map .top h1 {
    margin: 0.2rem;
  }
  .map .middle {
    height: 56vw;
  }
  .map .middle #video.item div {
    height: 100%;
    width: 204%;
    left: -50%;
  }
  .map .middle #default {
    display: none;
  }
  .map .middle #mobile-portrait {
    display: block;
  }
  .map .bottom {
    height: 140px;
  }
  .map .bottom .link {
    transform: none;
    padding: 0 0.6rem;
    top: 5%;
  }
  .map .bottom .controls {
    position: relative;
    width: 100%;
    transform: none;
    top: 14%;
  }
  .map .bottom .controls .item {
    padding: 0 0.6rem;
  }
}

.main-category.events {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: linear-gradient(96.74deg, rgba(0, 0, 0, 0) -13.79%, rgba(186, 76, 155, 0.153) 14.43%, rgba(111, 189, 142, 0.261) 39.65%, rgba(106, 137, 159, 0.258) 75.67%, rgba(0, 0, 0, 0) 101.49%), linear-gradient(180deg, #2A4586 0%, rgba(42, 69, 134, 0.567708) 43.23%, rgba(42, 69, 134, 0) 100%);
  background-size: contain;
  padding-bottom: 2rem;
}

.main-category.events .title {
  width: 100%;
  font-size: 2vw;
  font-family: Sansita-ExtraBold;
  position: relative;
  display: inline;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(50, 50, 50, 0.5);
}

.main-category.events .container {
  display: flex;
}

.main-category.events iframe {
  margin: auto 0 auto 2rem;
  box-shadow: -1px -1px 19px rgba(121, 153, 160, 0.5);
}

.main-category.events .mobile-width {
  display: none;
}

.toggle-gallery {
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(90deg, #373A66 0%, #444A96 30.21%, #4E6799 50.52%, #42478C 71.35%, #373A66 100%);
  background-position: center;
  background-size: cover;
}

.toggle-gallery .free-wall {
  width: 55%;
  position: relative;
  margin: auto;
}

.toggle-gallery .free-wall .brick img {
  margin: 0;
  display: block;
}

.pricing {
  width: 100%;
  height: auto;
  background-color: linear-gradient(156.42deg, #403988 8.57%, #692C58 49.76%, #30315C 67.88%, #363865 87.65%);
  background-size: contain;
  position: relative;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.pricing .snooker {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: gray;
  z-index: 2;
}

.pricing .snooker h1, .pricing .snooker h2, .pricing .snooker h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pricing .snooker .title {
  position: absolute;
  top: 0;
  text-align: center;
  height: clamp(20px, 50%, 5vw);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(30, 25, 80, 0.4), rgba(30, 20, 70, 0.7));
}

.pricing .snooker .title img {
  width: 57%;
  -webkit-filter: drop-shadow(0px 4px 2px rgba(228, 197, 197, 0.5));
          filter: drop-shadow(0px 4px 2px rgba(228, 197, 197, 0.5));
  margin-right: 0.8rem;
}

.pricing .snooker .title h1 {
  font-family: Sansita-ExtraBold;
  font-size: calc( 22px + 2vw);
  margin-bottom: 2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.pricing .snooker .title h2 {
  font-family: Sansita-ExtraBold;
  font-size: calc( 28px + 2vw);
}

.pricing .snooker .title h3 {
  font-family: NunitoSans;
  font-size: calc( 20px + 2vw);
  margin: 1.7rem 0 0.8rem 0;
}

.pricing .snooker .title h4 {
  font-family: NunitoSans-Light;
  font-size: calc( 8px + 1.4vw);
  font-weight: 300;
}

.pricing .container {
  width: 100%;
  position: relative;
  background: linear-gradient(156.42deg, #403988 8.57%, #692C58 49.76%, #30315C 67.88%, #363865 87.65%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 3.2rem 0;
  z-index: 1;
}

.pricing .container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  top: 0;
  background: url("../img/abstraction.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.08;
  pointer-events: none;
}

.pricing .container .title {
  padding: 3rem 0;
  background: linear-gradient(180deg, rgba(4, 4, 4, 0.1) 0%, rgba(4, 4, 4, 0.15) 55.21%, rgba(4, 4, 4, 0.1) 75.52%, rgba(4, 4, 4, 0.02) 100%);
}

.pricing .container .title h1 {
  margin: auto;
  font-size: calc( 22px + 2vw);
  font-family: Sansita-ExtraBold;
  font-weight: 800;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pricing .container .cards {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-areas: "a2 b2 c2 d2 e2";
  align-items: center;
  justify-content: center;
}

.pricing .container .cards .item {
  text-align: center;
  border-radius: 40px;
  border: 4px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(150deg, #4b6cb7 0%, #182848 100%);
  transition: width 0.1s ease-out, height 0.1s ease-out, transform 0.18s ease-in-out, -webkit-filter 0.4s ease-in-out;
  transition: width 0.1s ease-out, height 0.1s ease-out, filter 0.4s ease-in-out, transform 0.18s ease-in-out;
  transition: width 0.1s ease-out, height 0.1s ease-out, filter 0.4s ease-in-out, transform 0.18s ease-in-out, -webkit-filter 0.4s ease-in-out;
}

.pricing .container .cards .item:nth-child(2) img, .pricing .container .cards .item:nth-child(3) img, .pricing .container .cards .item:nth-child(4) img, .pricing .container .cards .item:nth-child(5) img, .pricing .container .cards .item:nth-child(6) img {
  width: 32%;
  margin: 2.6rem 0 1.1rem 0;
}

.pricing .container .cards .item:nth-child(2), .pricing .container .cards .item:nth-child(6) {
  width: calc(240px + 6vmin);
  height: calc(380px + 6vmin);
  z-index: 1;
}

.pricing .container .cards .item:nth-child(3), .pricing .container .cards .item:nth-child(5) {
  width: calc(280px + 6vmin);
  height: calc(420px + 6vmin);
  z-index: 2;
}

.pricing .container .cards .item:nth-child(4) {
  width: calc(300px + 6vmin);
  height: calc(480px + 6vmin);
  z-index: 3;
}

.pricing .container .cards .item:nth-child(2) {
  transform: translate(20%, 0);
  grid-area: a2;
}

.pricing .container .cards .item:nth-child(2):hover {
  transform: translate(10%, 0) scale(111%);
}

.pricing .container .cards .item:nth-child(3) {
  transform: translate(10%, 2%);
  grid-area: b2;
}

.pricing .container .cards .item:nth-child(3):hover {
  transform: translate(0%, 2%) scale(111%);
}

.pricing .container .cards .item:nth-child(4) {
  grid-area: c2;
  background: linear-gradient(0deg, rgba(37, 39, 39, 0.8), rgba(37, 39, 39, 0.8)), url("../img/neon.png");
  background-size: contain contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing .container .cards .item:nth-child(4):hover {
  transform: scale(111%);
}

.pricing .container .cards .item:nth-child(5) {
  transform: translate(-10%, 2%);
  grid-area: d2;
}

.pricing .container .cards .item:nth-child(5):hover {
  transform: translate(0%, 2%) scale(111%);
}

.pricing .container .cards .item:nth-child(6) {
  transform: translate(-20%, 0);
  grid-area: e2;
}

.pricing .container .cards .item:nth-child(6):hover {
  transform: translate(-10%, 0) scale(111%);
}

.pricing .container .cards .item img {
  margin: 1.6rem 0 1.1rem 0;
}

.pricing .container .cards .item h2 {
  margin: 1.3rem 0 1.5rem 0;
}

.pricing .container .cards .item h3 {
  font-size: 46px;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
}

.pricing .container .cards .item .price {
  width: 65%;
  position: relative;
  margin: 0 auto;
}

.pricing .container .cards .item .price .normal {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.pricing .container .cards .item .price .reduced {
  opacity: 0;
  color: #28e05c;
  position: absolute;
  right: 32.5%;
  top: 0;
  transition: opacity 0.3s ease-in-out;
}

.pricing .container .benefit {
  width: 15rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  transform: translateX(-50%) rotateZ(6deg);
  background: url("../img/circle.png");
  background-position: center;
  background-size: 100% 100%;
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pricing .container .benefit:hover {
  transform: translateX(-50%) rotate(0) scale(110%);
}

.pricing .container .benefit:hover ~ .item {
  -webkit-filter: brightness(0.95) contrast(120%);
          filter: brightness(0.95) contrast(120%);
}

.pricing .container .benefit:hover ~ .item .price .normal {
  opacity: 0.15;
}

.pricing .container .benefit:hover ~ .item .price .reduced {
  opacity: 1;
}

.pricing .container .benefit h1 {
  font-size: 50px;
}

.pricing .contact {
  position: relative;
  width: calc(220px + 18vw);
  margin: 3.2rem auto;
  background-color: #537895;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
  border-radius: 28px;
  border: 4px solid #c0c0c0;
  display: block;
}

.pricing .contact * {
  transition: transform 0.3s ease-out;
}

.pricing .contact *:hover {
  transform: scale(108%);
}

.pricing .contact h1 {
  text-align: center;
  font-size: 24px;
}

.pricing .contact div {
  margin-top: 1rem;
}

.pricing .contact div h2 {
  text-align: left;
  margin-left: 0.9rem;
  margin-bottom: 1.3rem;
  transform: translateX(3%);
}

.pricing .contact div h2:hover {
  transform: translateX(3%) scale(106%);
}

.pricing .contact .item img {
  width: 2rem;
  height: 2rem;
  margin: 0 auto 0 14%;
  float: left;
}

.pricing .methods {
  width: 80%;
  position: relative;
  text-align: center;
  background: linear-gradient(92.12deg, rgba(85, 37, 92, 0) 5.93%, rgba(76, 41, 93, 0.53) 18.48%, rgba(52, 52, 95, 0.22) 87.12%, rgba(49, 54, 95, 0.04) 91.72%, rgba(47, 54, 96, 0) 98.58%);
  -webkit-filter: drop-shadow(3px -2px 39px rgba(255, 255, 255, 0.02));
          filter: drop-shadow(3px -2px 39px rgba(255, 255, 255, 0.02));
  margin: 2rem auto;
}

.pricing .methods h1 {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.pricing .methods img {
  transition: transform 0.3s ease-out;
  margin: 1rem 2rem;
  pointer-events: all;
}

.pricing .methods img:hover {
  transform: scale(112%);
}

@media screen and (max-width: 1480px) {
  body {
    width: 100vw;
  }
  .pricing .container .cards {
    display: inline-grid;
    grid-template-areas: "a2 c2 b2" "d2 d2 e2";
  }
  .pricing .container .cards .item {
    display: inline-block;
  }
  .pricing .container .cards .item:nth-child(2), .pricing .container .cards .item:nth-child(3), .pricing .container .cards .item:nth-child(4), .pricing .container .cards .item:nth-child(5), .pricing .container .cards .item:nth-child(6) {
    transform: none;
  }
}

@media screen and (max-width: 1028px) {
  .overlay-container .item {
    justify-content: normal;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .overlay-container .item .left, .overlay-container .item .right {
    width: 80%;
  }
  .overlay-container .item .left {
    margin-right: 0;
  }
  .overlay-container .item .right iframe {
    margin: 1rem 0 0 0;
  }
  .titlecard .slider {
    height: 200px;
  }
  .titlecard .slider ul li p {
    font-size: 14px;
  }
  .titlecard .events {
    display: none;
  }
  .category-desc .desc {
    font-size: 21px;
  }
  .category-holder {
    height: 330vw;
  }
  .category-holder .selection {
    height: 330vw;
    display: inline;
  }
  .category-holder .selection .item {
    position: relative;
    height: 25%;
    width: 100%;
  }
  .category-holder .selection .item:nth-child(1), .category-holder .selection .item:nth-child(2), .category-holder .selection .item:nth-child(3), .category-holder .selection .item:nth-child(4), .category-holder .selection .item:nth-child(5), .category-holder .selection .item:nth-child(6) {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .category-holder .selection .item:nth-child(4), .category-holder .selection .item:nth-child(5), .category-holder .selection .item:nth-child(6) {
    top: 0;
  }
  .about-container .content {
    width: 95%;
    margin: 0 auto;
  }
  .about-container .content .split {
    display: inline-block;
  }
  .about-container .content .item#a, .about-container .content .item#b, .about-container .content .item#c, .about-container .content .item#schedule {
    margin-top: 2vw;
  }
  .about-container .content .item#a, .about-container .content .item#b, .about-container .content .item#c, .about-container .content .item#d {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .about-container .item h2 {
    margin: 1.6rem 0;
  }
  .stats::before {
    content: none;
  }
  .stats .content {
    background: linear-gradient(123.03deg, rgba(0, 0, 0, 0.2) 24.49%, rgba(0, 0, 0, 0.153125) 41.94%, rgba(0, 0, 0, 0) 71%), linear-gradient(91.03deg, #396AB4 0.3%, #8C7EC4 23.84%, #7E67DA 55.58%, #8073D0 80.15%, #396AB4 98.58%);
    transform: none;
  }
  .stats .content::before, .stats .content::after {
    content: none;
  }
}

@media screen and (max-width: 970px) {
  .pricing .container {
    -webkit-filter: contrast(90%) hue-rotate(80deg);
            filter: contrast(90%) hue-rotate(80deg);
    transform: rotateZ(0);
  }
  .pricing .container .benefit:hover ~ .item {
    -webkit-filter: brightness(0.95) contrast(120%);
            filter: brightness(0.95) contrast(120%);
  }
  .pricing .container .benefit:hover ~ .item .price .normal {
    opacity: 0.15;
  }
  .pricing .container .benefit:hover ~ .item .price .reduced {
    opacity: 1;
  }
  .pricing .container .cards {
    display: inline-grid;
    grid-template-areas: "c2 a2" "b2 d2" "e2 e2";
  }
  .pricing .container .cards .item {
    display: inline-block;
  }
  .pricing .container .cards .item:nth-child(2), .pricing .container .cards .item:nth-child(3), .pricing .container .cards .item:nth-child(4), .pricing .container .cards .item:nth-child(5), .pricing .container .cards .item:nth-child(6) {
    transform: none;
  }
  .main-category.events .full-width {
    display: none;
  }
  .main-category.events .mobile-width {
    display: block;
  }
}

@media screen and (max-width: 801px) {
  .titlecard .monitor .container .item {
    width: 800px;
  }
  .titlecard .slider ul li button {
    bottom: 14%;
  }
  .main-category.events .container {
    flex-direction: column;
  }
  .pricing .snooker {
    height: 230px;
  }
  .pricing .snooker .vid {
    transform: translateX(5%) scale(2.5);
  }
  .pricing .container {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .titlecard .monitor .categories {
    display: none;
  }
  .barrel .item-container .item .head div {
    transform: scale(190%) translateY(3%);
  }
  .barrel .item-container .item#synttarit div.mat .item {
    width: 100%;
  }
  .about-container {
    background: #5A1D50;
    width: 100vw;
  }
  .about-container .content {
    width: 100vw;
  }
  .about-container .content .split {
    width: 100vw;
  }
  .about-container .content .item#schedule {
    width: 100%;
    height: 580px;
  }
  .about-container .content .item#schedule .d1 {
    width: 100%;
    left: 0;
  }
  .about-container .content .item#schedule .d2 {
    display: none;
  }
  .about-container .content .item#schedule #title img {
    display: none;
  }
  .about-container .content .item#schedule #title h1 {
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 28px;
  }
  .about-container .content .item#schedule .days {
    left: 20px;
  }
  .about-container .content .item#schedule .days .normal {
    display: none;
  }
  .about-container .content .item#schedule .days .mobile {
    display: block;
  }
  .about-container .content .item#schedule ul {
    left: 74px;
  }
  .about-container .content .item#schedule ul .sch li {
    width: 430px;
  }
  .about-container .content .item#schedule .note {
    width: 90%;
    left: 6.25%;
    font-size: 22px;
    top: 470px;
    text-align: center;
  }
  .pricing .container {
    background: linear-gradient(142.06deg, #0652C5 10.04%, #D4418E 78.1%);
  }
  .pricing .container .benefit {
    position: relative;
    right: 0;
    margin: 0 auto;
    transform: none;
  }
  .pricing .container .benefit:hover {
    transform: none;
  }
  .pricing .container .cards {
    grid-template-areas: "c2" "a2" "b2" "d2" "d2" "e2";
    justify-items: center;
  }
  .pricing .container .cards .item:nth-child(2), .pricing .container .cards .item:nth-child(3), .pricing .container .cards .item:nth-child(4), .pricing .container .cards .item:nth-child(5), .pricing .container .cards .item:nth-child(6) {
    width: 70%;
    height: calc( 270px + 6vmin);
    margin: 0.2rem 0;
    transform: none;
  }
  .pricing .container .cards .item:nth-child(2) img, .pricing .container .cards .item:nth-child(3) img, .pricing .container .cards .item:nth-child(4) img, .pricing .container .cards .item:nth-child(5) img, .pricing .container .cards .item:nth-child(6) img {
    width: 24%;
  }
  .pricing .container .cards .item:nth-child(2):hover, .pricing .container .cards .item:nth-child(3):hover, .pricing .container .cards .item:nth-child(4):hover, .pricing .container .cards .item:nth-child(5):hover, .pricing .container .cards .item:nth-child(6):hover {
    transform: none;
  }
  .pricing .container .methods {
    background: #8A5151;
  }
  .pricing .contact {
    width: 95%;
  }
}
/*# sourceMappingURL=index.css.map */