@font-face {
  font-family: Sansita;
  src: url("./fonts/sansita/Sansita-Regular.ttf");
}

@font-face {
  font-family: Sansita-ExtraBold;
  src: url("./fonts/sansita/Sansita-ExtraBold.ttf");
}

@font-face {
  font-family: Sansita-ExtraBold-Italic;
  src: url("./fonts/sansita/Sansita-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: RedHatDisplay-Regular;
  src: url("./fonts/red-hat-display/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: NunitoSans;
  src: url("./fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("./fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url("./fonts/nunito-sans/NunitoSans-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  width: 99.3vw;
  height: auto;
  position: relative;
  display: inline-block;
  background-color: #041F60;
  font-family: NunitoSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #fff;
}

h1 {
  font-size: calc(12px + 0.8vw);
}

h2 {
  font-size: calc(8px + 0.8vw);
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  pointer-events: none;
}

.tt-bb {
  position: relative;
}

.tt-bb::before, .tt-bb::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  opacity: 20%;
  z-index: 7;
}

.tt-bb::before {
  top: 0;
}

.tt-bb::after {
  bottom: 0;
}

.tt-bb.rr::before, .tt-bb.rr::after {
  border-radius: 5px;
}

.hover-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hover-image:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.hover-image img {
  border-radius: 10px;
}

.lb {
  position: relative;
  width: 95%;
  height: 0.2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 1vw;
  background-color: #ccc;
  border-radius: 10px;
  opacity: 0.3;
}

.header {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #2d3436;
  background-image: linear-gradient(268deg, #2d3436 0%, #685C68 50%, #2d3436 100%);
  position: relative;
}

.header h1 {
  padding: 0.4vw;
  font-size: 1.8vw;
  white-space: nowrap;
}

.varaa-btn {
  cursor: pointer;
}

.varaa-btn img {
  pointer-events: none;
}

.coordinator {
  width: 2rem;
  height: auto;
  position: fixed;
  right: 2.25%;
  bottom: 6.5%;
  z-index: 50;
  display: table;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.coordinator[enabled="true"] {
  opacity: 1;
}

.coordinator .btn {
  position: relative;
  width: 5rem;
  height: 4rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 15px 32px;
  background-color: #5A1D50;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.coordinator .btn:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.coordinator .btn img {
  height: 100%;
}

.overlay-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 50;
  overflow-x: hidden;
  overflow-y: scroll;
}

.overlay-container .item {
  width: 100%;
  height: auto;
  left: 2%;
  top: 3%;
  position: relative;
  margin-top: 2vw;
  z-index: inherit;
}

.overlay-container .item::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 94vh;
  left: 0;
  top: -2vw;
  background: linear-gradient(120.66deg, rgba(41, 76, 112, 0.5) 31.39%, rgba(41, 76, 112, 0.36) 65.73%, rgba(41, 76, 112, 0.5) 94.18%);
  background-size: cover;
  background-position: center;
  z-index: 49;
}

.overlay-container .item .content {
  width: 92%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: inherit;
  padding-bottom: 1rem;
  background: linear-gradient(0deg, rgba(141, 141, 141, 0.17), rgba(141, 141, 141, 0.17)), linear-gradient(144.31deg, rgba(60, 78, 171, 0.65) 12.11%, rgba(75, 62, 126, 0.78) 43.16%, rgba(64, 46, 103, 0.42) 79.1%);
  border-radius: 0px 0px 40px 0px;
  outline: 3px solid rgba(150, 150, 255, 0.7);
  outline-offset: -3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.overlay-container .item .content .left, .overlay-container .item .content .right {
  width: auto;
  position: relative;
  z-index: inherit;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 32px;
}

.overlay-container .item .content .left {
  width: 40%;
  margin-left: 5rem;
  margin-right: 3rem;
  background: rgba(70, 77, 148, 0.33);
}

.overlay-container .item .content .left .header-img {
  background: url("../img/photos/bowling-shoes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 23rem;
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%);
  border-radius: 18px;
}

.overlay-container .item .content .left h1 {
  font-family: Sansita-ExtraBold;
  font-size: calc( 16px + 1.4vw);
  margin: 2rem 0;
}

.overlay-container .item .content .left p {
  font-size: calc( 8px + 1.1vw);
  margin: 2rem 0;
}

.overlay-container .item .content .left a {
  width: auto;
  display: inline;
  font-size: calc( 8px + 1.1vw);
  margin: 2rem 0 0 1rem;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.overlay-container .item .content .left a:hover {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.overlay-container .item .content .right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-container .item .content .right .media {
  width: 100%;
  height: calc( 30rem + 8vw);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(70, 77, 148, 0.33);
  padding-bottom: 2rem;
  padding-left: 2rem;
  margin-top: 12rem;
  border-radius: 32px;
}

.overlay-container .item .content .right iframe {
  width: calc( 20rem + 8vw);
  height: 100%;
  margin: 1rem;
}

.overlay-container .item .content .close {
  width: 6rem;
  height: 4rem;
  position: absolute;
  right: calc( 8rem + 1.5vw);
  top: calc( 4rem + 1vw);
  cursor: pointer;
  -webkit-filter: hue-rotate(-1deg) brightness(1.1);
          filter: hue-rotate(-1deg) brightness(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-out, -webkit-filter 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out, -webkit-filter 0.3s ease-out;
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  transition: transform 0.3s ease-out, filter 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-filter 0.3s ease-out;
  z-index: inherit;
}

.overlay-container .item .content .close:hover {
  -webkit-transform: translateX(-6%) scale(120%);
          transform: translateX(-6%) scale(120%);
  -webkit-filter: hue-rotate(-30deg) brightness(1.3);
          filter: hue-rotate(-30deg) brightness(1.3);
}

.overlay-container .item .content .close img {
  height: 100%;
}

@media screen and (max-width: 1028px) {
  body {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  html {
    scrollbar-width: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */